/* ==========================================================================
   Defaults/Reset
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fafafa;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.align-center {
    text-align: center;
}

.margin10 {
    margin: 10px;
}

.margin20 {
    margin: 20px;
}

.inline-b {
    display: inline-block;
    width: 100%;
    text-align: left;
}

/* Disable IOS input styles */

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=search], textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.null-height {
    height: 0;
    margin: 0;
    line-height: 0;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

body, html {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0 !important;
    background-color: #14A9E3;
}

body {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

p {
    font-weight: 400;
    color: #525959;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
    font-size: 16px;
}

a, button {
    color: #0095DA;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 700 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blue-title {
    color: #00A5E5;
    font-weight: 700;
    display: block;
    float: none;
    clear: both;
}

.blue-title-xl {
    font-size: 40px;
}

.blue-title-md {
    font-size: 30px;
}

.blue-title-xs {
    font-size: 20px;
}

/**/

.form-control {
    padding: 8px 12px;
}

.form-control.error {
    border-color: #ff7373;
}

.form-control+label.error {
    margin-top: 5px;
}

.checkbox .error {
    padding-left: 0;
    margin-top: 5px;
}

.intro {
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: 0 top;
}

body.about .intro {
    background: url('../img/header-bg-2.jpg') no-repeat;
    background-size: cover;
}

body.team .intro {
    background: url('../img/header-bg-3.jpg') no-repeat;
    background-size: cover;
}

body.contacts .intro {
    background: url('../img/header-bg-4.jpg') no-repeat;
    background-size: cover;
}

/**/

/* Button placement */

.navigation-toggle {
    position: absolute;
    right: 20px;
    margin-left: -9px;
    top: 37px;
    margin-top: -9px;
    border: 0;
    background: transparent;
    outline: 0;
    display: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    cursor: pointer;
    text-decoration: none;
}

.navigation-toggle i {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 3px;
    color: #FFF;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -999999px;
    background: #FFF;
    transition: all .2s ease-out;
}

.navigation-toggle i::before, .navigation-toggle i::after {
    content: '';
    width: 22px;
    height: 3px;
    background: #FFF;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.navigation-toggle.collapsed i::before {
    top: -7px;
}

.navigation-toggle.collapsed i::after {
    bottom: -7px;
}

.navigation-toggle i::before {
    top: -10px;
}

.navigation-toggle i::after {
    bottom: -10px;
}

.navigation-toggle.active i {
    background: transparent;
}

.navigation-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.navigation-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

/**/

.intro-body {
    margin: 12% auto 20%;
    float: none;
}

/*.haeder-homeLink { display: inline-block; }*/

.nav-container {
    background: rgba(20, 169, 227, 0);
    width: 100%;
    float: left;
    display: block;
    position: fixed;
    z-index: 1001;
    /**/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-container.fixed-nav {
    background: rgba(20, 169, 227, 1);
    width: 100%;
    position: fixed;
}

.nav-container a.trp-btn {
    float: right;
    margin: 10px 20px 0 0;
    opacity: 0;
    /**/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fixed-nav a.trp-btn {
    opacity: 1;
}

.nav-container a.trp-btn.not-visible {
    opacity: 0;
}

.brand-heading {
    margin: 14px 0;
    float: left;
    width: 145px;
}

.brand-heading h1 {
    max-width: 100%;
}

.main-section {
    display: block;
    width: 100%;
    background-color: #FFF;
}

.intro-wrap {
    background-color: rgba(20, 169, 227, 0.8);
    width: 100%;
    display: inline-block;
    color: #FFF;
    max-height: 700px;
}

.intro-text {
    font-weight: 700;
    margin: 30px 0 40px 0;
    font-size: 55px;
}

.btn {
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: 300;
    border: 2px solid #FFF;
    border-radius: 60px;
    padding: 15px 35px 13px 35px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    font-family: 'proxima-nova', sans-serif;
    letter-spacing: 2px;
}

.trp-btn {
    background: rgba(0, 0, 0, 0);
}

.trp-btn:hover, .trp-btn:focus {
    color: #0095DA;
    background: #FFF;
}

.blue-btn {
    color: #00A5E5;
    border-color: #00A5E5;
}

.blue-btn:hover {
    color: #FFF;
    background-color: #00A5E5;
}

span.go-down {
    background: url('../img/arrow-down.svg') no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 60px;
    left: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.go-down:hover {
    bottom: 30px;
    font-size: 50px;
}

.manage-intro h3 {
    color: #00A5E5;
    text-align: center;
    font-size: 40px;
    margin: 10% 0 2% 0;
    font-weight: 600;
}

.manage-intro p {
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}

p.block-title {
    color: #00A5E5;
    text-align: center;
    font-size: 28px;
    padding: 0 15%;
    font-weight: 600;
    line-height: 30px;
}

.block-image {
    text-align: center;
    display: block;
}

.manage-blocks {
    display: inline-block;
    margin: 5% 0;
}

.manage-blocks div {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

p.block-text {
    text-align: center;
    padding: 15px;
}

.blue-bg {
    background-color: #CFE6F1;
}

section.quotes {
    background-color: #CFE6F1;
    padding: 8% 0;
    margin: 0;
}

#quotes-carousel h2 {
    color: #00A5E5;
    font-weight: 900;
    font-size: 40px;
    margin: 20px 0;
    padding-right: 20%;
    display: inline-block;
}

#quotes-carousel h2 span {
    font-family: inherit;
}

span.quotes-left {
    float: left;
}

#quotes-carousel h2 strong {
    float: left;
    width: 90%;
    margin-left: 10px;
}

.quote-author p {
    color: #00A5E5;
    float: left;
    margin: 20px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

.quote-author img {
    float: left;
}

.quote-author {
    display: inline-block;
    margin: 20px 0;
    border: 0;
    padding: 0;
    font-size: 14px;
}

#quotes-carousel .carousel-indicators {
    bottom: -15px;
    text-align: left;
    width: 100%;
    left: 0;
    margin: 0;
    display: inline-block;
    padding: 0 20px;
}

.gallery {
    background: url('../img/gallery-1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: 0 top;
    min-height: 530px;
}

body.about .gallery {
    background: url('../img/gallery-2.jpg') no-repeat;
    background-size: cover;
    background-color: #CFE6F1;
}

#menu-toggler {
    position: absolute;
    top: -130px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    background-color: transparent;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: 2px solid #00A5E5;
}

.carousel-indicators .active {
    width: 18px;
    height: 18px;
    background-color: #00A5E5;
    margin: 1px;
}

.gallery .carousel-inner .item img {
    width: 100%;
}

.ops h3 {
    color: #00A5E5;
    font-size: 40px;
    margin: 0 0 20px 0;
}

.ops p {
    padding-right: 100px;
    text-align: justify;
}

.ops_menu ul {
    float: left;
    padding: 0;
    width: 100%;
}

.operations-container {
    height: auto;
    padding: 0 0 0 280px;
}

.operations-container article {
    width: auto;
    padding: 70px 0 0 0;
    margin: 10% 0;
    opacity: 0;
    /**/
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

#art-1 {
    opacity: 1;
    margin-top: 40px;
}

/*#art-2 { padding-top: 120px; }
#art-3 { padding-top: 180px; }
#art-4 { padding-top: 110px; }*/

#art-2 {
    padding-top: 50px;
}

#art-3 {
    padding-top: 70px;
}

#art-4 {
    padding-top: 40px;
}

.operations-container article.art-visible {
    opacity: 1;
}

.ops_menu {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    margin-left: -280px;
    float: left;
    width: 220px;
}

.ops_menu h3 {
    color: #00A5E5;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 20px;
}

.ops_title {
    display: none;
    color: #00A5E5;
    text-align: center;
    font-size: 33px;
    margin: 3% 0 3% 0;
    font-weight: 600;
}

.ops_menu ul li {
    list-style: none;
    text-align: left;
    border: 2px solid #DDD;
    border-left: 0;
    border-right: 0;
    margin-top: -2px;
    z-index: 10;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ops_menu ul li a {
    font-weight: 700;
    font-size: 13px;
    color: #999;
    padding: 30px 5px;
    width: 100%;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ops_menu ul li:last-child {
    border-bottom: 2px solid #DDD;
}

section.operations.main-section {
    padding: 135px 0;
}

.ops_menu ul li a:hover {
    text-decoration: none;
}

.ops_menu ul li:hover, .active-item {
    border-color: #CFE6F1 !important;
    cursor: pointer;
    z-index: 20 !important;
}

.ops_menu ul li a {
    text-decoration: none;
}

.ops_menu ul li:hover a, .ops_menu ul li.active-item a {
    color: #00A5E5;
}

.ops_menu ul li:first-child {
    border-top: 2px solid #ddd;
    margin: 0;
}

.ops-feedback img {
    float: left;
}

.ops-feedback p {
    float: left;
    width: 85%;
    color: #999;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
}

.ops-feedback {
    display: inline-block;
    margin: 10px 0;
}

section.contact-info.main-section {
    background-color: #14A9E3;
    color: #FFF;
    padding: 8% 0;
    border-bottom: 1px solid #14A9E3;
}

.contact-info h2 {
    font-weight: 700;
    float: left;
    width: 50%;
    font-size: 55px;
    margin: 0;
}

.form-wrapper {
    float: right;
}

.form-wrapper input:not([type="checkbox"]) {
    height: 50px;
}

.form-wrapper input, .form-wrapper textarea {
    box-shadow: none;
    border: 2px solid #14A9E3;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: #696969 !important;
}

:-moz-placeholder {
    color: #696969 !important;
}

::-moz-placeholder {
    color: #696969 !important;
}

:-ms-input-placeholder {
    color: #696969 !important;
}

.group.col-xs-12 {
    margin: 10px 0;
}

.form-wrapper .trp-btn {
    float: right;
    min-width: 180px;
    margin: 10px 0;
}

#big_container {
    height: 100%;
    position: relative;
    z-index: 999;
    margin-bottom: 156px;
    background-color: #FFF;
    overflow-x: hidden;
}

footer.main-section {
    background-color: #094F72;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 156px;
    z-index: 0;
    bottom: 0;
}

footer>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .links {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 14px 0;
}

footer .links a {
    color: #fff;
    font-weight: 500 !important;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 5px 0;
    font-size: 12px;
}

footer .links a:focus, footer .links a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
}

footer img {
    margin-right: 12px;
}

.call-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/*.call-number .envelope { margin-right: 15px!important; }*/

.call-number .linkedin, .call-number .envelope {
    float: left;
    border: 2px solid #CFE6F1;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 23px;
    margin: 4px 0 0 0;
    text-indent: -99999px;
    position: relative;
}

.call-number .envelope i {
    background: url('../img/envelope.svg') no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 25px;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    margin-left: -15px;
}

.call-number .envelope:hover i {
    background-position: -30px 0;
}

.call-number .linkedin:hover, .call-number .envelope:hover {
    background-color: #14a9e3;
    border-color: #14a9e3;
}

.copyright small {
    display: block;
    margin: 14px auto 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.call-number p {
    color: #fff;
    float: left;
    margin: 0 20px;
    border-left: 2px solid #cfe6f1;
    padding: 5px 20px;
    font-weight: 700;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    line-height: 26px;
}

.call-number p span {
    color: #CFE6F1;
}

.call-number p a, .call-number p a:focus {
    color: white !important;
    text-decoration: none;
}

.call-number p a:hover {
    text-decoration: underline;
}

/* ==========================================================================
   Contact Modal
   ========================================================================== */

.modal-open {
    padding: 0 !important;
}

.modal-dialog {
    margin: 30px auto 0 !important;
    width: 700px;
}

.modal-content {
    position: relative;
    background-color: #00A5E5;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header, .modal-body {
    color: #FFF;
    display: inline-block;
    width: 100%;
}

.modal-header legend {
    width: 70%;
    float: left;
}

.modal-body {
    padding: 0 85px 0;
}

.modal-header {
    padding: 30px 85px 15px;
}

.modal-header .close {
    background: url('../img/cross.svg') no-repeat;
    background-position: 0 0;
    text-indent: -9999px;
    padding: 25px 33px;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.modal-header .close:hover {
    background-position: 100% 0;
}

.modal-contact {
    float: left;
    padding: 15px 85px;
    color: #00A5E5;
    font-weight: 700;
    background: #CFE6F1;
    width: 100%;
    font-size: 24px;
}

.modal-contact a {
    color: #00A5E5;
    font-size: 28px;
    float: right;
}

legend {
    display: none;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 50px;
    color: #FFF;
    border: 0 !important;
    font-weight: 700;
}

.modal-body.form-wrapper {
    float: none;
}

.modal-body .btn {
    padding: 15px 75px 13px 75px;
    margin-right: 10px;
}

.feedback-text {
    background-color: #ff7373;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 700;
    display: block;
}

.feedback-text.success {
    background-color: #67ce83;
    float: none;
}

button[type="submit"].loading {
    position: relative;
    -webkit-animation: progress-bar-stripes 1.5s linear infinite;
    animation: progress-bar-stripes 1.5s linear infinite;
    cursor: wait;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.30) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.30) 50%, rgba(255, 255, 255, 0.30) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

button[type="submit"].loading:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
}

/* ==========================================================================
   Header
   ========================================================================== */

.navbar-nav {
    float: right;
    margin: 25px 0;
}

.navbar-nav li a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 0 23px;
    padding: 5px 0;
    /*border-bottom: 2px solid #14A9E3;*/
}

.navbar-nav li:first-child a {
    margin-left: 0;
}

.navbar-nav li:last-child a {
    margin-right: 0;
}

.nav li a:focus, .nav li a:hover, .nav li.active a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #FFF;
}

.navbar-right {
    margin-right: 0;
}

/* ==========================================================================
   Timeline
   ========================================================================== */

.timeline .description {
    margin: 160px 0;
}

.description h3 {
    margin: 0 0 30px 0;
    padding-right: 6%;
}

.list-dates p {
    color: #999;
    font-size: 15px;
    line-height: 20px;
}

#timeline .desciption {
    margin-top: 50px;
}

ul.left-list {
    float: right;
    text-align: right;
    padding-top: 50px;
}

.left-list li:first-child {
    margin-top: 100px;
}

.list-dates li {
    display: inline-block;
    margin: 10px 0;
    min-height: 180px;
    position: relative;
}

.list-dates h3 {
    margin: 0;
}

.list-dates li div {
    opacity: 1;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}

ul.right-list {
    border-left: 6px solid #EEE;
    padding-top: 50px;
    margin-bottom: 0;
}

.list-dates li:before, .list-dates li:after {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid #EEE;
    border-radius: 100%;
    position: absolute;
    background-color: #FFF;
    z-index: 10;
}

.left-list li:after {
    top: 0;
    right: -43px;
}

.left-list li:before, .right-list li:after {
    content: none;
}

.right-list li:before {
    top: 0;
    left: -53px;
}

.list-dates.right-column:before {
    content: '';
    width: 6px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 60px;
    display: inline-block;
    background-color: #CFE6F1;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

.left-list li.on:after, .right-list li.on:before {
    border-color: #CFE6F1;
}

.right-list li:last-child {
    min-height: 90px;
}

/**/

.list-dates.right-column.date1:before {
    height: 100px;
}

.list-dates.right-column.date2:before {
    height: 210px;
}

.list-dates.right-column.date3:before {
    height: 300px;
}

.list-dates.right-column.date4:before {
    height: 410px;
}

.list-dates.right-column.date5:before {
    height: 510px;
}

.list-dates.right-column.date6:before {
    height: 620px;
}

.list-dates.right-column.date7:before {
    height: 770px;
}

.list-dates.right-column.date8:before {
    height: 800px;
}

/**/

.not_visible {
    opacity: 0 !important;
}

/* Mobile */

.desciption-mobile {
    text-align: center;
    display: none;
}

.desciption-mobile li {
    list-style: none;
}

.desciption-mobile li:before {
    content: ' ';
    background-color: #CFE6F1;
    width: 6px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   Functionalities
   ========================================================================== */

.col-xs-12.col-md-6.col-sm-4.feature-content {
    margin: 40px 0;
}

p.feature-title {
    color: #00A5E5;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
}

.feature-block {
    min-height: 200px;
    margin: 0 0 30px 0;
}

section.features {
    padding: 5% 0;
}

.features div h3 {
    margin-bottom: 60px;
}

.feature-content:first-child {
    margin: 40px 0 0 0;
}

#more-features {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .8s;
    -moz-transition: height .8s;
    transition: height .8s;
}

#more-features ul {
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

#more-features ul li {
    color: #00A5E5;
    font-size: 15px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
}

#more-features.open {
    height: 560px;
}

#more-features.open ul {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
    opacity: 1;
}

#more-features ul li:before {
    content: "\f105";
    font-weight: 700;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: -10px;
    position: absolute;
    top: 2px;
}

/* ==========================================================================
   Lazy Load team members
   ========================================================================== */

#team-intro .description {
    margin-top: 90px;
    padding-right: 10%;
}

#team-panel ul li img {
    opacity: 0;
    height: auto;
    transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#team-panel ul {
    padding: 40px 0;
}

#team-panel ul li {
    display: inline-table;
    height: 350px;
}

.team-member {
    text-align: center;
}

.team-member p {
    color: #00A7E5;
    margin: 15px 0 4px 0;
    font-size: 24px;
    font-weight: 800;
}

.team-member small {
    width: 100%;
    color: #888888;
    font-size: 13px;
}

.join-team h2, .help-team h2 {
    color: #00A7E5;
    font-size: 45px;
    font-weight: 700;
    float: left;
    margin-right: 25px;
}

.join-team, .help-team {
    padding: 60px 0;
}

.join-team a.blue-btn, .help-team a.blue-btn {
    float: left;
    margin: 15px 0;
}

.join-team a.blue-btn:focus, .help-team a.blue-btn:focus {
    color: #00A7E5;
}

/* ==========================================================================
   Back to top
   ========================================================================== */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #094F72 url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-fade-out {
    opacity: 1;
    visibility: visible;
}

.no-touch .cd-top:hover {
    background-color: #094F72;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 20px;
        bottom: 170px;
        border-radius: 3px;
    }
}

/* ==========================================================================
   Contacts - Maps
   ========================================================================== */

.map-container {
    height: 500px;
}

.winphar-cities {
    display: inline-block;
    padding: 30px 0 30px 0;
}

.winphar-cities div p {
    font-size: 20px;
    color: #54595A;
    margin-bottom: 30px;
}

.winphar-cities .map-container p {
    font-size: 14px;
}

.winphar-cities div h2 {
    font-size: 50px;
    margin: 20px 0 5px 0;
}

.help-team h2 {
    line-height: 46px;
}

.help-team h2 span {
    font-size: 26px;
    float: right;
}

.help-team h2 small {
    font-size: 26px;
    color: #00A7E5;
    font-weight: 700;
    margin-right: 10px;
}

.winphar-cities a:hover {
    color: #0095DA !important;
    text-decoration: underline;
}

/* ==========================================================================
   Cookie
   ========================================================================== */

#cookies-intro.main-section {
    padding: 40px 0 90px;
}

#cookies-intro.main-section h3 {
    margin-top: 50px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
    .navbar-header {
        display: none;
    }
    p.block-title {
        padding: 0 7%;
    }
}

@media only screen and (min-width: 992px) {
    p.block-title {
        padding: 0 15%;
    }
    .call-winphar {
        cursor: default;
        text-decoration: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    /*#team-intro .description { padding-right: 0; }*/
}

@media only screen and (max-width: 1024px) {
    /*.intro-body { margin: 12% 0 12% 20px; }*/
    .intro-text {
        width: 100%;
        font-size: 50px;
    }
    #quotes-carousel h2, span.go-down {
        bottom: 40px;
    }
    .ops_menu {
        margin-left: -280px;
    }
    .block-image img {
        height: 150px;
    }
    .ops h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .block-image img {
        height: 120px;
    }
    p.block-title {
        font-size: 20px;
        padding: 0px;
    }
    #quotes-carousel h2 {
        font-size: 35px;
    }
    .quote-author img {
        height: 60px;
    }
    .quote-author p {
        margin: 18px 20px;
    }
    #quotes-carousel .carousel-indicators {
        padding: 0 0 0 18px;
    }
    .contact-info h2 {
        font-size: 30px;
    }
    .ops-feedback p {
        width: 80%;
    }
    /*.intro-body .container { width: auto; }*/
    #big_container {
        margin-bottom: 230px;
    }
    /*.nav-container .container { width: 95%; }*/
    /*#team-panel ul li { width: 190px; }*/
}

@media only screen and (max-width: 820px) {
    .call-number {
        padding: 0;
        float: left;
    }
    footer.main-section {
        height: 230px;
    }
    .intro-text {
        width: 90%;
        font-size: 40px;
    }
    .ops h3 {
        padding-right: 30px;
    }
    .ops h3, .manage-intro h3 {
        font-size: 30px;
    }
    .ops_menu {
        margin-left: -270px;
    }
    span.go-down {
        visibility: hidden;
    }
    .navbar-nav li a {
        margin: 0 20px;
    }
    .join-team h2, .help-team h2 {
        font-size: 40px;
        margin: 30px 0 0;
    }
    .winphar-cities div h2 {
        font-size: 30px;
    }
    .winphar-cities div p {
        min-height: 100px;
        margin: 0;
    }
    .map-container {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .intro {
        background-attachment: initial;
    }
    .ops_menu {
        display: none !important;
    }
    .ops_title {
        display: block;
    }
    .operations-container {
        padding: 0;
    }
    section.operations.main-section {
        padding: 55px 0;
    }
    .operations-container article {
        padding: 0;
    }
    .gallery {
        background-attachment: initial;
        background-size: 100%;
        min-height: 270px;
    }
    .help-team a.blue-btn {
        margin: 25px 0 25px 15px;
    }
    .feature-block {
        min-height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-collapse {
        padding: 0;
    }
    #quotes-carousel h2 {
        width: 100%;
        padding: 0;
    }
    .intro {
        background-size: 110%;
        background-position: 20% 0;
    }
    .intro-body {
        margin: 12% 0;
    }
    .nav-container {
        position: absolute;
    }
    .contact-info h2 {
        width: 100%;
        margin-bottom: 15px;
    }
    .modal-dialog {
        width: 440px;
    }
    legend {
        font-size: 30px;
        line-height: 40px;
    }
    .modal-header .close {
        background-size: 200%;
        padding: 15px 23px;
    }
    .modal-header {
        padding: 25px 25px 0 25px;
    }
    .modal-body {
        padding: 0 20px 15px;
    }
    .modal-contact {
        padding: 15px 20px;
    }
    legend {
        margin-bottom: 20px;
    }
    section.operations.main-section {
        padding: 35px 0;
    }
    .timeline .desciption {
        display: none;
    }
    .desciption-mobile {
        display: block;
    }
    /*    .feature-block, .features div h3,
.view-more-container, #more-features ul li { text-align: center; }*/
    #more-features ul li {
        margin: 0 0 10px 0;
        list-style: none;
    }
    #more-features.open {
        height: auto;
    }
    .timeline .description {
        margin: 60px 0 20px 0;
    }
    .navigation-toggle {
        display: block;
    }
    .navbar-nav li a {
        padding: 10px 15px;
    }
    .feature-block img {
        float: left;
        margin: 15px 10px;
    }
    p.feature-title {
        margin: 20px;
        width: auto;
        display: inline-block;
        max-width: 80%;
    }
    .navbar-nav {
        float: none;
        margin: 20px 0;
        width: 100%;
    }
    .navbar-nav li a {
        margin: 0;
    }
    #navbar {
        background-color: #14A9E3;
        width: 100%;
    }
    .desciption-mobile ul {
        padding: 0;
    }
    .winphar-cities div p {
        min-height: auto;
        margin: 0 0 30px 0;
    }
    .gallery {
        background-size: 115%;
        background-attachment: initial;
        min-height: 270px;
    }
    .nav li.active a, .nav li a:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.15);
    }
    footer>.container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 620px) {
    .operations ul li a {
        font-weight: 700;
        font-size: 10px;
    }
    .manage-intro h3 {
        margin: 50px 0 30px 0;
    }
    section.quotes {
        padding: 30px 0 50px 0;
        margin: 30px 0;
    }
    .intro-text {
        font-size: 30px;
        margin: 30px 0;
    }
    .btn {
        font-size: 14px;
    }
    .intro-body {
        margin-left: 0;
    }
    .operations-container article {
        padding: 15px 0 !important;
    }
    .nav-container .container {
        width: 100%;
    }
    .blue-title-xl {
        font-size: 30px;
    }
    p.feature-title {
        max-width: 70%;
    }
    .feature-block img {
        margin: 15px 0;
    }
    p.feature-title {
        margin: 20px 15px;
    }
    .winphar-cities div p {
        font-size: 16px;
    }
    .map-container {
        height: 320px;
    }
}

@media only screen and (max-width: 530px) {
    .intro {
        background-size: 180%;
    }
    section.contact-info.main-section {
        padding: 11% 0;
    }
    .nav-container a.trp-btn {
        display: none;
    }
    #quotes-carousel h2 strong {
        margin-left: 5px;
    }
    .ops p {
        padding: 0;
        text-align: left;
    }
    .operations-container article {
        opacity: 1 !important;
    }
    .contact-info h2 {
        font-size: 30px;
    }
    /*.form-wrapper { padding: 0; }*/
    .intro-text {
        font-size: 30px;
        margin: 50px 0 30px 0;
        width: 100%;
    }
    .cd-top {
        display: none;
    }
    .gallery {
        min-height: 175px;
    }
    .help-team h2 small {
        width: 100%;
        display: inline-block;
    }
    .help-team h2 {
        margin: 0;
    }
    .help-team h2 span {
        font-size: 20px;
        float: left;
    }
    .winphar-cities {
        padding: 40px 0 10px 0;
    }
    #team-intro .description {
        margin-top: 40px;
    }
    #timeline {
        margin-bottom: 40px;
    }
    .team-member p, p.feature-title {
        font-size: 20px;
    }
    section.features {
        padding: 10% 0;
    }
    /*.view-more-features { margin-left: 15px; }*/
    .gallery {
        background-size: cover;
    }
    .help-team a.blue-btn {
        margin: 25px 0 25px 0;
    }
}

@media only screen and (max-width: 480px) {
    .operations ul li a {
        font-weight: 700;
        min-height: 58px;
    }
    .manage-intro h3 {
        font-size: 25px;
    }
    .manage-intro p {
        padding: 0 20px;
    }
    .btn {
        font-size: 11px;
        padding: 11px 30px 10px 30px;
    }
    #quotes-carousel h2 {
        font-size: 28px;
    }
    .quote-author p {
        margin: 18px 10px;
        font-size: 12px;
        line-height: 14px;
    }
    .quote-author p {
        margin: 10px 0;
    }
    .ops h3 {
        font-size: 24px;
    }
    .ops-feedback img {
        height: 40px;
    }
    .ops-feedback p {
        font-size: 12px;
        line-height: 18px;
        width: 100%;
    }
    .form-wrapper .trp-btn {
        min-width: 100%;
        float: none;
    }
    .modal-body .trp-btn {
        min-width: 90%;
    }
    .form-group:last-child {
        text-align: center;
    }
    .gallery .carousel-inner .item img {
        width: 140%;
        max-width: 140%;
    }
    .call-number {
        float: left;
        padding: 0;
    }
    /*.brand-heading { width: 90px; }*/
    /*.brand-heading img { height: auto!important; }*/
    #quotes-carousel .carousel-indicators {
        padding: 0;
    }
    .call-number .linkedin, .call-number .envelope {
        padding: 6px 11px;
        font-size: 14px;
    }
    .call-number p {
        margin: 0 10px;
        padding: 0 15px;
        font-size: 16px;
        line-height: 22px;
    }
    .call-number .envelope {
        margin: 0 10px !important;
    }
    .ops_title {
        font-size: 30px;
    }
    .modal-dialog {
        margin: 10px auto !important;
    }
    .modal-dialog {
        width: 315px;
    }
    legend {
        font-size: 26px;
        line-height: 26px;
    }
    .modal-body {
        padding: 0 25px 0;
    }
    .join-team h2, .help-team h2 {
        font-size: 35px;
    }
    .modal-contact {
        font-size: 16px;
    }
    .modal-body .btn {
        margin-right: 0;
    }
    legend {
        margin-bottom: 5px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .call-number .envelope {
        width: 53px;
        height: 50px;
    }
    #team-panel ul li {
        display: inline-table;
        height: 315px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .intro {
        background-attachment: initial;
    }
}

@media only screen and (max-height: 590px) and (orientation: landscape) {
    .intro-body {
        margin: 19% 0 15% 24%;
    }
    .gallery {
        min-height: 200px;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    .intro-body {
        margin: 11% 0 15% 0%;
    }
    .btn {
        padding: 11px 30px 9px 30px;
    }
    #quotes-carousel h2 strong {
        margin-left: 5px;
    }
    .ops p {
        padding: 0;
        text-align: left;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    opacity: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    display: none !important;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    blockquote, img, pre, tr {
        page-break-inside: avoid
    }
    *, :after, :before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " ("attr(href) ")"
    }
    abbr[title]:after {
        content: " ("attr(title) ")"
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: ""
    }
    blockquote, pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    img {
        max-width: 100% !important
    }
    h2, h3, p {
        orphans: 3;
        widows: 3
    }
    h2, h3 {
        page-break-after: avoid
    }
}