<!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <legend>Entramos em contacto consigo.</legend>
        <button type="button" class="close" data-dismiss="modal">close</button>
      </div>
      <div class="modal-body form-wrapper">
        <form class="form-horizontal" action="/inc/form.php" autocomplete="off" id="modal-contactForm">
          <fieldset>
            <!-- Form Name -->
            <legend class="null-height">&nbsp;</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-xs-12 control-label" for="name"></label>
              <div class="col-xs-12">
                <input id="fullname" name="fullname" type="text" placeholder="O seu nome" class="form-control" required>
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-xs-12 control-label" for="email"></label>
              <div class="col-xs-12">
                <input id="email" name="email" type="email" placeholder="O seu email" class="form-control" required>
              </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-xs-12 control-label" for="subject"></label>
              <div class="col-xs-12">
                <textarea class="form-control" id="subject"
                  placeholder="Deixe-nos a sua mensagem e o seu contacto telefónico (opcional)"
                  name="subject"></textarea>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" name="submitted" class="modal-submit trp-btn btn">Enviar</button>
            </div>
          </fieldset>
        </form>
      </div>
      <p class="modal-contact">Linha 24h<a href="tel:217 205 780" class="call-winphar">217 205 780</a></p>
    </div>

  </div>

</div>