<link rel="stylesheet" type="text/css"
  href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "rgba(0,0,0, 0.9)"
        },
        "button": {
          "background": "#0095da"
        }
      },
      "revokable": true,
      "position": "bottom-right",
      "type": "opt-in",
      "content": {
        "message": "Utilizamos cookies e outras tecnologias de rastreamento para melhorar a sua experiência de navegação no nosso site, para analisar o tráfego do nosso site e para entender de onde nossos visitantes são provenientes. Ao navegar o nosso site, está a concordar com o uso de cookies e outras tecnologias de rastreamento. Para mais informações por favor visite a nossa página sobre a",
        "allow": "Aceitar cookies",
        "deny": "Não permitir",
        "link": "Política de cookies",
        "href": "https://www.winphar.pt/privacidade-cookies/",
        "policy": "Política de cookies"
      },
      "cookie": {
        "domain": ".winphar.pt"
        // "domain": '.' + window.location.hostname
      },
      onInitialise: function (status) {
        var type = this.options.type;
        var didConsent = this.hasConsented();
        var didAnswer = this.hasAnswered();
        if (type == 'opt-in' && didConsent) {
          // enable cookies
          dataLayer.push({ 'event': 'this.hasConsented' });
        }
        if (type == 'opt-in' && !didConsent && didAnswer) {
          // disable cookies
          dataLayer.push({ 'event': 'this.hasRevoked' });
        }
      },

      onStatusChange: function (status, chosenBefore) {
        var type = this.options.type;
        var didConsent = this.hasConsented();
        var didAnswer = this.hasAnswered();
        if (type == 'opt-in' && didConsent) {
          // enable cookies
          dataLayer.push({ 'event': 'this.hasConsented' });
        }
        if (type == 'opt-in' && !didConsent && didAnswer) {
          // disable cookies
          dataLayer.push({ 'event': 'this.hasRevoked' });
        }
      },
    })
  });
</script>