<div class="container">
  <div class="links">
    <img src="/img/logo.svg" height="35" alt="Winphar" title="Winphar">
    <a href="/privacidade-cookies/">Política de Privacidade & Cookies</a>
  </div>
  <div class="call-number">
    <a href="mailto:info@winphar.pt" class="envelope"><i></i></a>
    <!--<a href="https://www.linkedin.com/company/winphar" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a> -->
    <p><span>Linha de Apoio 24h</span> <br> <a href="tel:217 205 780" class="call-winphar">217 205 780</a></p>
  </div>
</div>

<div class="copyright">
  <small>© <span id="currentYear"></span> Winphar - Todos os direitos reservados</small>
</div>

<script type="text/javascript">
  document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>