<div class="nav-container">
  <div class="container">
    <a href="/" class="haeder-homeLink">
      <h1 class="brand-heading">
        <img src="/img/logo.svg" alt="Winphar" title="Winphar" width="196" height="53">
      </h1>
    </a>
    <div class="row">
      <nav id="navbar" class="navbar-collapse collapse navbar-right" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active"><a class="home" href="/">home</a></li>
          <li><a class="about" href="/sobre-winphar">sobre o winphar</a></li>
          <li><a class="team" href="/equipa">equipa</a></li>
          <li><a class="contacts" href="/contactos">contactos</a></li>
        </ul>
        <!-- <a class="trp-btn btn" data-toggle="modal" data-target="#contactModal">fale connosco</a> -->
      </nav>
    </div>
    <!-- Navigation -->
    <div class="navbar-header">
      <button type="button" class="navigation-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <i>Toogle Menu</i>
      </button>
    </div>
  </div>
</div>